@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    max-height: 100vh;
    overflow-y: hidden;
}
::-webkit-scrollbar{
    scroll-behavior: smooth;
}

.mario-game{
    display: none;
    position: relative;
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    border-bottom: 30px solid green;
    overflow: hidden;
    background: url("https://img.freepik.com/premium-photo/blue-hand-painted-abstract-watercolor-texture-background_667461-861.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-position-y: 100%;
}

.div-contagem{
    display: flex;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 3%;
    gap: 2rem;
}

.div-pontuação p{
    display: none;
    font-family: "Silkscreen", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.moedas{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.grama{
    display: block;
    position: absolute;
    bottom: -45px;
    left: 0px;
    width: 100%;
    z-index: 9999;
}

.super-mario{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    transition: .5s ease;
}

.clouds{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 350px;
    object-fit: cover;
    animation: clouds-animation 20s infinite linear;
}

.clouds-2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 350px;
    animation: clouds3-animation 30s infinite linear;
}

.clouds-3{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 350px;
    animation: clouds2-animation 35s infinite linear;
}

@keyframes clouds-animation{
    from{
        left: 5%;
    }
    to{
        left: -500px;
    }
}
@keyframes clouds2-animation{
    from{
        right: 5%;
    }
    to{
        right: 50%;
    }
}
@keyframes clouds3-animation{
    from{
        left: 50%;
    }
    to{
        left: 0%;
    }
}

.mario{
    position: absolute;
    bottom: 0;
    left: 3%;
    width: 130px;
}

.jump{
    animation: jump 500ms ease-out;
}

@keyframes jump{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

/*botão iniciar*/
.div-iniciar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.div-iniciar button{
    width: 150px;
    padding: 15px;
    border-radius: 10px;
    background-color: #ff0000;
    border: none;
    font-family: 'JetBrains', monospace;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.div-iniciar button:hover{
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
}
.div-iniciar button:focus{
    transform: translateY(5px);
}

.restart{
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
}
/*pipe*/
.pipe{
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 70px;
    /*left: 150px;*/
}

.turtle{
    position: absolute;
    bottom: 7.5%;
    right: -80px;
    width: 80px;
}

.turtle-animation{
    animation: turtle-animation 1.6s infinite linear;
}

.pipe-animation{
    animation: pipe-animation 1.1s infinite linear;
}

.pipe-animationM{
    animation: pipe-animation .8s infinite linear;
}

.pipe-animationH{
    animation: pipe-animation .55s infinite linear;
}

@keyframes pipe-animation {
    from{
        right: -70px;
    }
    to{
        right: 100%;
    }
}

@keyframes turtle-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

.game-over{
    display: none;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
}

/*dificuldade*/
.div-chosen{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%);
}

.p-chosen{
    text-align: center;
    font-family: 'JetBrains', monospace;
    font-weight: 600;
    text-decoration: underline;
    color: #000000;
    cursor: pointer;
}

.p-chosen:hover{
    color: #000000ca;
}

.div-chosen-click{
    display: none;
    flex-direction: column;
    gap: 3rem;
    width: 200px;
    margin: 1rem 0;
    padding: 20px;
    background-color: #141414;
    border-radius: 5px;
    color: #ffffff;
}

.div-chosen-click.abrir-dificuldades{
    display: flex;
}

.div-chosen-click div{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

/*.div-chosen-click div::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #ff0000;
    transition: .5s ease-in-out;
}*/

.div-chosen-click div:hover::after{
    width: 100%;
}

.div-chosen-click div p{
    font-family: 'JetBrains', monospace;
    font-size: 16px;
}

/*contagem de moedas*/
.p-contagem{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: "Silkscreen", sans-serif;
    font-size: 23px;
}

.div-coin{
    position: absolute;
    bottom: 25%;
    left: 15%;
    display: none;
    align-items: center;
    gap: .5rem;
}

.coin{
    width: 30px;
}

/*you win*/
.div-you-win{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.div-you-win-align{
    position: relative;
}

.div-you-win img{
    width: 100vw;
    height: 101vh;
    object-fit: cover;
    image-rendering: optimizeQuality;
}

.div-next-round{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.div-you-win p{
    font-size: 90px;
    font-family: "Silkscreen", sans-serif;
    color: #ffffff;
    z-index: 99999;
}

@media only screen and (max-height: 1141px){
    .div-iniciar{
        top: 60%;
    }
    .restart{
        top: 60%;
    }
    .div-chosen{
        top: 70%;
    }
}

@media only screen and (max-height: 880px){
    .div-iniciar{
        top: 70%;
    }
    .restart{
        top: 90%;
    }
    .div-chosen{
        top: 80%;
    }
}

/*segundo game*/
.super-mario-game{
    display: block;  
    position: relative;
    max-width: 100vw;
    height: 100vh;
    background: url("../images/cenario-game-two.png");
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: bottom right;
}

.ceu{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.ceu2{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.part-two{
    display: block;
    position: relative;
    left: 99%;
    width: 100vw;
    height: 100%;
    background: url("../images/cenario-game-two.png");
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: bottom left;
    overflow: hidden;
}

.mario-two{
    position: absolute;
    bottom: 90px;
    left: 5%;
    width: 50px;
    object-fit: cover;
    z-index: 99999;
}

.inimigo{
    position: absolute;
    bottom: 90px;
    right: 5%;
    width: 40px;
    object-fit: cover;
    animation: inimigo-animation 18s infinite linear;
}

.inimigo-animation-death{
    animation: inimigo-morte 1s ease forwards;
}

.block{
    position: absolute;
    top: 65%;
    left: 55%;
    width: 55px;
    object-fit: cover;
}

.block2{
    position: absolute;
    top: 65%;
    left: 57.5%;
    width: 55px;
    object-fit: cover;
}

.gogumelo{
    display: none;
    position: absolute;
    top: 61.8%;
    left: 57.5%;
    width: 40px;
    object-fit: cover;
    animation: gogulemo-animation 1s ease forwards;
}

/*hud*/
.div-hud{
    position: absolute;
    top: 5%;
    left: 20%;
    margin: 0 auto;
    width: 100%;
}

.hud{
    width: 65%;
}

/*coin*/
.coin-two{
    position: absolute;
    top: 7.5%;
    right: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coin-two p:first-child{
    color: #ffe032;
    font-family: "Silkscreen", sans-serif;
    font-size: 40px;
}

.coin-two p:last-child{
    color: #ffffff;
    font-family: "Silkscreen", sans-serif;
    font-size: 40px;
}


/*vida*/
.div-vida{
    position: absolute;
    top: 10.3%;
    left: 27%;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.div-vida svg{
    margin-top: 8px;
}

.p-vida{
    font-family: "Silkscreen", sans-serif;
    font-size: 35px;
    color: #ffffff;
}

/*overlay*/
.overlay{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000005b;
    transition: .5s;
}

.overlay.abrir-overlay{
    display: block;
}

/*tempo*/
.time{
    position: absolute;
    top: 10%;
    right: 35.3%;
    font-family: "Silkscreen", sans-serif;
    font-size: 40px;
    color: #ffec80;
}

/*animação jump*/
.jump2{
    animation: jump2 500ms ease-out;
}

/*gameOver*/
.game-over-two{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

/*restart*/
.restart-two{
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
}

/*boss*/
.boss{
    position: absolute;
    right: 20%;
    bottom: 17%;
    width: 200px;
    object-fit: cover;
}

@keyframes jump2{
    0%{
        bottom: 90px;
    }
    40%{
        bottom: 300px;
    }
    50%{
        bottom: 300px;
    }
    60%{
        bottom: 300px;
    }
    70%{
        bottom: 300px;
    }
    80%{
        bottom: 300px;
    }
    100%{
        bottom: 90px;
    }
}

@keyframes inimigo-animation {
    from{
        right: -180px;
    }
    to{
        right: 105%;
    }
}

@keyframes inimigo-morte{
    from{
        bottom: 90px;
    }
    to{
        bottom: 3%;
    }
}

@keyframes gogulemo-animation {
    0%{
        left: 57.5%;
    }
    50%{
        left: 61%;
    }
    70%{
        left: 61%;
        top: 62%;
    }
    100%{
        left: 61%;
        top: 88.8%;
    }
}
